.footer__form__button {
    width: 36px;
    height: 23px; 
    border: none;
    position: relative;
    background: url(../../../../images/flag.svg) no-repeat center center;
    background-color: #F9F8FA;
    margin: 0 0 0 -603px;
    top: -9px
}