.menu__link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.menu__link:hover {
    opacity: 0.6;
    transition: opacity .6s ease-in-out;
    padding-bottom: 13px;
    border-bottom: 1px solid #F04C23;
    /* text-decoration: underline #F04C23; */
}