.form__error {
    position: relative;
    bottom: 58px;
    left: 170px;
    height: 0;
    visibility: hidden;
    display: block;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 0px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #F04C23;
}

.form__error_checkbox {
    /* margin-bottom: 0px;
    bottom: -20px;
    margin-bottom: 0px;
    left: 0; */
    width: 100%;
    left: 0;
    bottom: -10px
}